.header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}
.header-image{
  width: 100%;
  height: 100%;
  margin-top: 50px;
  
}
.header-subtitle{
  color: black;
  font-weight: 400;
  margin-top: -10px;
}
.h2-h{
  font-weight: 600;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
  opacity: 0.3;
}

.header-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 100px 60px;
  color: black;
  text-align: left;
  margin-top: -750px;
  margin-left: 30px;
}

.header-content h1 {
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  color: black;
}

.header-content h6 {
  font-size: 15px;
  max-width: 600px;
  margin-bottom: 30px;
 
  color: rgb(99, 97, 97);
}


.stats {
  display: flex;
  gap: 40px;
}

.stat-item h2 {
  font-size: 44px;
  margin: 0;
  color: black;
}

.stat-item p {
  font-size: 14px;
  color: black;
}
.header-button{
  width: 200px;
  padding: 12px 0;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 60px;
}
.stats {
  display: flex;
  align-items: center;
  gap: 20px;
}

.stat-item {
  text-align: center;
}

.stat-divider {
  width: 1px;
  height: 70px;
  background-color: rgb(78, 77, 77);
  opacity: 0.3;
}
