.search-bar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 105;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.search-bar[style] {
  top: var(--top-offset, 40px);
}

.left-section {
  display: flex;
  align-items: center;
  margin-left: 50px;
  gap: 0.5px;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  margin-left: 40px;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 50px;
  cursor: pointer;
}

.category-select {
  margin-right: 20px;
  font-size: 15px;
  padding: 2px 4px;
  border: none;
  color: rgb(68, 70, 70);
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  
}

.search-input {
  padding: 8px 8px 8px 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  width: 600px;
  height: 25px;
  margin-right: -0.1px;
  background-color: rgba(242, 240, 241, 1);
}

.search-box svg {
  position: absolute;
  left: 10px;
  color: gray;
  pointer-events: none;
}

.basket-login {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 40px;
  display: flex;
  gap: 12px;
}
